* {
    margin: 0;
    padding: 0;
}

html, body, table {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

table {
    font-family: Courier New;
    line-height: 0;
    letter-spacing: 0;
    border-collapse: collapse;
    user-select: none;
}

tr {
    max-height: 15px;
}

td {
    max-width: 13px;
    min-width: 13px;
    text-align: center;
}

.selected {
    background-color: yellow;
}
